# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Compiled class file
*.class

# Maven-specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven files
mvnw
mvnw.cmd
.mvn/
mvn/

# Gradle-specific
.gradle/
build/

# Logs
*.log
/src/Lab4/src/config.txt

# Eclipse-specific
*.project
*.classpath
.settings/

# Other
*.swp
