<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
    <script rel="stylesheet" src="new.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="text-light"><a class="btn btn-dark" href="javascript:history.back()">Back</a><a class="btn btn-dark" href="/home">Home</a></h3>
        <h3 class="text-light"><a class="btn btn-dark" href="/logout">Logout</a></h3>
    </nav>
    <div class="container jumbotron" style="margin-top: 10px;">
        <form action="/new" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
            <label for="admin">User type: </label>
            <select class="form-control" name="admin" onchange="updateDeptOptions(this)">
                <option value="" selected disabled hidden>Choose here</option>
                <option >Admin</option>
                <option >Employee</option>
            </select>
            </div>
            <div class="form-group">
            <label for="dept">Department:</label>
            <select class="form-control" name="dept" required id="dept-select">
                <option value="" selected disabled hidden>Choose here</option>
            </select>
            </div>
            <button class="btn btn-outline-dark">Create</button>
            <div class="form-group">
                <p class="lead mt-4">Have An Account? <a  href="/">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>