body{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    min-width: 250px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-menu{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.navbar{
    padding: .7rem 1.2rem;
    background-color: #fff;
    transition-duration: .2s;
}
.nav-link:hover{
    color: #e12323;
    transition-duration: .2s;
}

.section{
    padding: 30px 50px;
    min-height: 100vh;
}
.first-section{
    display: flex;
}


.banner-text{
    color: white;
    font-size: 54px;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    font-weight: 700;
    text-align: left;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.2);
}


.search-flight{
    padding: 50px 40px;
    background-color: #fff;
    width: 40%;
    border-radius: 7px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    display: flex;
}
.search-flight .input-row{
    margin: 10px;
}
.search-flight .input-row label{
    margin-bottom: 0;
    font-size: .9em;
    color: rgb(100,100,100);
}




.second-section .section_title{
    margin-top: 25px;
    margin-bottom: 45px;
}


footer{
    background-color: rgb(255,242,242);
    margin-top: 0px;
    padding-top: 1px;
}



.logo-container img{
    width: 130px;
}
.links-container > div{
    flex: 1 0 0px;
}


.social-icons a{
    height: 44px;
    width: 44px;
}

#places_from, #places_to{/*  تقوم بعمل مربع للبيانات الموجوده في */
    display: none;
    /* يتم إخفاء القائمة عند البدء باستخدام خاصية display: none،
     ويتم عرضها فقط عند النقر على المربع الموجود في وسط الصفحة. */
    /* يتم تحديد مكان القائمة باستخدام خاصية position: absolute */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    cursor: pointer;
    max-height: 70%;
    overflow: auto;
    cursor: pointer;
}
/* ويتم تعيين cursor: pointer ليتم تغيير مؤشر الفأرة إلى مؤشر الاختيار عند تحريك المؤشر فوق القائمة، وهذا يعني أن القائمة يمكن النقر عليها. */


.each_places_from_list, .each_places_to_list{
    padding: 10px 15px;
    transition-duration: .2s;
}
.each_places_from_list:hover, .each_places_to_list:hover{
    background-color: #f2f2f2;
}
.each_places_from_list:active, .each_places_to_list:active{
    background-color: #e5e5e5;
}
/* تقوم بتحجيم الكونتينر  */
.search-flight-form-data{
    position: relative;
}






